.sans-serif { font-family: 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif; }

a {
  color: #e7040f;
}

blockquote {
  margin: 0;
}

.lh-list {
  line-height: 2;
}
.hero-text {
  text-transform: uppercase;
  line-height: 0.9;
  font-size: 2rem;
}
@media only screen and (min-width: 30em)  {
  .hero-text {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 60em)  {
  .hero-text {
    font-size: 6rem;
  }
}
  
.knockout-text {
  color: #000;
  background: url(../img/napoleon-crop-halftone-bw.gif) no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff54;
  background-repeat: repeat;
  background-size: cover;
  background-color: #fff;
  background-blend-mode: hard-light;
  -webkit-animation: animatedBackground 100s linear infinite;
}

.number-circle {
  background: url(../img/napoleon-crop-halftone-bw.gif) no-repeat;
  background-color: red;
  background-blend-mode: screen;
  color: #fff;
  border-radius: 0 50% 50% 0;
  height: 30px;
  width: 30px;
  position: absolute;
  line-height: 32px;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  left: -35px;
  top: -5px;
  display: inline;
  float: left;
}

@media only screen and (min-width: 30em) {
    .number-circle {
      border-radius: 100%;
      height: 70px;
      width: 70px;
      line-height: 73px;
      font-size: 7rem;
      display: block;
      margin: 0 auto;
      margin-bottom: 2rem;
      position: relative;
      float: none;
  }
}

 @-webkit-keyframes animatedBackground {
 0% { background-position: 0 0; }
 100% { background-position: 0 -500px; }
 }
