.sans-serif { font-family: 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif; }

a {
  color: #e7040f;
}

blockquote {
  margin: 0;
}

.lh-list {
  line-height: 2;
}
.hero-text {
  font-size: 6.25rem
}

.knockout-text {
  color: #000;
  background: url(../img/napoleon-crop.jpg) no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: repeat;
  background-size: cover;
}
