.sans-serif { font-family: 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif; }

a {
  color: #e7040f;
}

blockquote {
  margin: 0;
}

.lh-list {
  line-height: 2;
}
.hero-text {
  text-transform: uppercase;
  line-height: 0.9;
  font-size: 2rem;
  @media only screen and (max-width: 30rem)  {
    font-size: 6rem;
  }
}

.knockout-text {
  color: #000;
  background: url(../img/napoleon-crop.jpg) no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: repeat;
  background-size: cover;
  background-color: #fff;
  background-blend-mode: luminosity;
}
