<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <title>
    Mike Costanzo - Shipping Valuable Products 📦
  </title>
	<meta name="author" content="{{site.author}}">
	<meta name="description" content="{{site.description}}">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Google / Search Engine Tags -->
	<meta itemprop="name" content=" Mike Costanzo - Shipping Valuable Products 📦 ">
	<meta itemprop="description" content="A lifelong learner, old enough to be specialized in a few things by now, I've helped to build teams and launch software products big and small.">
	<meta itemprop="image" content="https://www.mcsquareddesign.com/img/napoleon-drawing.jpg">

	<!-- Facebook Meta Tags -->
	<meta property="og:url" content="https://www.mcsquareddesign.com">
	<meta property="og:type" content="website">
	<meta property="og:title" content=" Mike Costanzo - Shipping Valuable Products 📦 ">
	<meta property="og:description" content="A lifelong learner, old enough to be specialized in a few things by now, I've helped to build teams and launch software products big and small.">
	<meta property="og:image" content="https://www.mcsquareddesign.com/img/napoleon-drawing.jpg">

	<!-- Twitter Meta Tags -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content=" Mike Costanzo - Shipping Valuable Products 📦 ">
	<meta name="twitter:description" content="A lifelong learner, old enough to be specialized in a few things by now, I've helped to build teams and launch software products big and small.">
	<meta name="twitter:image" content="https://www.mcsquareddesign.com/img/napoleon-drawing.jpg">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.11.1/tachyons.css">
  <link rel="stylesheet" href="../css/custom.css">
</head>
